.color-input.user .box {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.color-input.user .box.active {
	background: #0f0f0f;
}
.color-input.user .box.active .inner {
	transform: scale(.9) rotate(90deg);
}

.picker-popup-enter-from,
.picker-popup-leave-to {}
.picker-popup-enter-active,
.picker-popup-leave-active {}

.picker-popup.user {}
.picker-popup.user .box.disabled {}
.picker-popup.user .slider {}
.picker-popup.user .slider-pointer {}
.picker-popup.user .saturation-pointer {}
