div.color-input__box {
	width: 100px;
	height: 100px;
}
div.color-input__box--active {
	background: #0f0f0f;
}
div.color-input__box-inner--active {
	transform: scale(.88);
}
div.color-input__box--disabled {}

div.color-input__popup {}
div.color-input__popup .slider {}
div.color-input__popup .slider-pointer {}
div.color-input__popup .saturation-pointer {}

div.color-input__popup--enter-from,
div.color-input__popup--leave-to {}
div.color-input__popup--enter-active,
div.color-input__popup--leave-active {}
